/*----- Service Section -----*/

.service-home-bg{
    position: relative;
}
  
.service-home-bg img{
    width: 453px;
    margin: 0px 0px 0px auto;
    display: block;
}

.s-contain{
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 0px 0px;
}

.service-card{
    border-radius:10px 0px 10px 0px;
    border:2px solid var(--blue);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 10px;
}

.service-img-container {
    width: 80px;
}

.service-img-container img{
    width:100%;
    height:100%;
}

.service-card-inner {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
    background: #fff;
    border-radius: 10px 0px 10px 0px;
}

    .service-card-inner:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0px;
        right: 132px;
        height: 0.5em;
        border-top: 4px solid var(--yellow);
    }
    .service-card-inner::before{
        display:inline-block;
        font-family: FontAwesome;
        content: '\f772';
        position: absolute;
        top: -34px;
        right: -30px;
        width: 60px;
        height: 60px;
        text-align:center;
        border-radius: 50%;
        border:4px solid #fff;
        background-color: var(--blue);
        color:#fff;
        font-size:25px;
    }

    

/*----- Service Section -----*/